
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background: rgb(20, 20, 20);
}
footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 80px;
    padding: 20px 50px;
    flex-direction: column;

}
#social_icons{
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 10px 0px;
    flex-wrap: wrap;

}
#social_icons li{
    list-style-type: none;

}
#social_icons li img{
    display: inline-block;
    transition: 0.5s;
    padding: 5px;
    height: 55px;
    

}
#social_icons li img:hover{
    transform: translateY(-20px);
}
#menu{
    position: relative;
    display: flex;
    align-self: center;
    justify-content: center;
    
}
footer #menu li {
    list-style-type: none;
}
#menu li a{
    text-decoration: none;
    color: white;
    font-size: .9rem;
    font-weight: bold;
    font-family: 'Noto Serif', serif;
    padding:15px 8px ;
}
#menu li a:hover{
    color: black;
    font-size: 1rem;
    

}
footer  p{
    text-align: center;
    margin-top: 30px;
    color: blue;
    font-size: large;
    
}
footer .wave{
    position:absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(./images/wave.png);
    background-size: 1000px 100px;
}
footer #wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: wave_1 4s linear infinite;
}
footer #wave2{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: wave_1 4s linear infinite;
}
footer #wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: wave__3 3s linear infinite;
}
footer #wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: wave_4 3s linear infinite;
}
@keyframes wave_1{
    0%{
        background-position-x:1000px;
    }
    100%{
        background-position-x:0px;
    }
}
@keyframes wave_2{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:1000px;
    }
}
@keyframes wave_3{
    0%{
        background-position-x:1000px;
    }
    100%{
        background-position-x:0px;
    }
}
@keyframes wave_4{
    0%{
        background-position-x:0px;
    }
    100%{
        background-position-x:1000px;
    }
}



